# for postgres database
DB_USER=docker-user
DB_PASSWORD=something
DB_HOST=localhost
DB_PORT=5432
DB_NAME=money-forward

# for http server
HTTP_HOST=""
HTTP_PORT=8080

SYMETRIC_KEY=NUWe6IcMRNwLQU1qduIAj7Yntf5mRLnv


SUPER_ADMIN_USERNAME=admin
SUPER_ADMIN_PASSWORD=donkihote
